/* Paleta de colores */
:root {
    --primary-color: #0086f9;
    --secondary-color: #FFFFFF;
    --tertiary-color: #004f80;
    --quarteary-color: #05dbf2;
    --text-color: #FFFFFF;
    --background-color: #000000;
  }
  