/*Estilos específicos de un componente*/
@import './styles/colors.css';

/*Componentes de Registration Section*/
.main-r-s {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  height: 100vh;
}

.container-logo-r-s {
  position: relative; /* Establece el contexto de posicionamiento para el logo */
  width: 100%;
  height: 100px; /* Ajusta la altura según lo que necesites */
}

.logo-dynamic-r-s {
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  max-width: 240px;
}

.question-r-s {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  margin: 200px auto 0 auto; 
}

.container-boton-r-s {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;     /* Opcional: centra verticalmente si el contenedor tiene altura */
  gap: 25px;               /* Espacio mínimo entre los botones */
  margin: 20px auto 0 auto; 
}

.boton-izquierdo-r-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 250px;     
  height: 50px;
}

.boton-derecho-r-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);           
  border: 2px solid var(--secondary-color);  
  border-radius: 30px;  
  width: 250px;  
  height: 50px;    
}
/*------------------------------------------------------*/


/*Componentes de SingUp Form*/
.main-signup-s {
}

.boton-atras-s{
  margin-left: 15px;
  margin-top: 10px;
}

.img-container-s {
  display: flex;
  gap: 2%;
  margin-left: 90px;
}

.logo-dynamic-s {
  margin-top: -19px;
  max-width: 15%;
  height: auto;
  display: block;
  position: relative;
}

.arrow-back-s {
  display: block;
  position: relative;
  width: 60px;
  height: auto;
  cursor: pointer;
}

.texto-titulo-s {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
  margin-left: 9%;
}

.texto-titulo-derecho-s {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
  margin-right: 26%;
}

.grid-s {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-pequeño-s {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px; /* Separa las dos columnas 20px */
  margin: 0; /* Asegúrate de que no haya margen en el contenedor */
  padding: 0;
}

.marco-input-s {
  left: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

.input-s {
  width: 70%;  
  margin: 10px;
  font-size: 17px;
}

.input-pequeños-s {
  width: 90%;  
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 17px;
}

.input-pequeños-derecho-s {
  width: 90%;  
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 17px;
}

.form-s{
  left: 20%;
  position: relative;
  width: 95%;
  label {
    margin-left: 11px;
    max-width: 50%;
  }
}

.form-derecho-s{
  left: 8%;
  position: relative;
  width: 95%;
  label {
    margin-left: 11px;
  }
}

.form-pequeño-s{
  left: 20%;
  position: relative;
  width: 82%;
}

.marco-CodTel-s{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.marco-CodTel-pequeño-s{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 10px; 
}

.marco-CodTel-pequeño-derecho-s{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 10px; 
}

.btn-save-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 250px;     
  height: 50px;
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: 5%;
  }

.btn-container-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7%;
  margin-bottom: 20px;
}

.separador-s {
  position: absolute;
  left: 50%; /* Lo centra horizontalmente */
  top: 295px; /* Baja un poco desde el inicio */
  transform: translateX(-50%); /* Ajuste fino para centrar bien */
  width: 3px;
  height: 50vh;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

/*------------------------------------------------------*/

/*Componentes de Package Payment*/
.main-p-p{
}

.back-button-p-p {
  position: absolute;
  top: 9px;
  left: 11px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; /* Para asegurarse de que esté por encima del resto */
}

.back-button-p-p img {
  width: 60px; /* Ajusta el tamaño según lo necesites */
  height: auto;
}

.img-container-p-p {
  display: flex;
  gap: 2%;
  margin-left: 90px;
}

.logo-dynamic-p-p {
  margin-top: 51px;
  max-width: 15%;
  height: auto;
  display: block;
  position: relative;
}

.texto-p-p {
  text-align: center;
  margin-top: 19px;
  margin-left: 13%;
  margin-right: 13%;
}

.container-paquetes-p-p {
  display: flex;
  justify-content: center;
  gap: 40px; /* Espacio entre tarjetas */
  padding: 20px;
}

.paquete-basico-p-p {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 2px solid var(--secondary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 240px;             /* Ancho fijo para uniformidad */
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;  
}

.header-basico-p-p {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.trecientos-basico-p-p {
  color: var(--primary-color);
}

.separador-basico-p-p {
  width: 100%;
  border: none;
  border-top: 2px solid var(--secondary-color);
  margin-bottom: 0px;
}

.body-basico-p-p {
  text-align: center;
  margin-bottom: 10px;
}

.precio-basico-p-p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.funcionalidades-basico-p-p {
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.funcionalidades-basico-p-p li {
  margin-bottom: 5px;
}

.boton-basico-p-p{
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}


.paquete-premium-p-p {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 3px solid var(--primary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 255px;             /* Ancho fijo para uniformidad */
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-premium-p-p {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.ilimitados-premium-p-p {
  color: var(--primary-color);
}

.separador-premium-p-p {
  width: 100%;
  border: none;
  border-top: 3px solid var(--primary-color);
  margin-bottom: 0px;
}

.body-premium-p-p {
  text-align: center;
  margin-bottom: 10px;
}

.precio-premium-p-p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.funcionalidades-premium-p-p {
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.funcionalidades-premium-p-p li {
  margin-bottom: 5px;
}

.funcionalidades-premium-p-p lo {
  margin-bottom: 5px;
  font-size: 13px;
}

.boton-premium-p-p{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}


.paquete-medio-p-p {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 2px solid var(--secondary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 240px;             /* Ancho fijo para uniformidad */
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;  
}

.header-medio-p-p {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.quinietos-medio-p-p {
  color: var(--primary-color);
}

.separador-medio-p-p {
  width: 100%;
  border: none;
  border-top: 2px solid var(--secondary-color);
  margin-bottom: 0px;
}

.body-medio-p-p {
  text-align: center;
  margin-bottom: 10px;
}

.precio-medio-p-p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.funcionalidades-medio-p-p {
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.funcionalidades-medio-p-p li {
  margin-bottom: 5px;
}

.boton-medio-p-p{
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
/*------------------------------------------------------*/
/*Componentes de Package_Payment2*/

.grid-p-p-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.separador-p-p-2 {
  position: absolute;
  left: 40%; /* Lo centra horizontalmente */
  top: 30%; /* Baja un poco desde el inicio */
  transform: translateX(-50%); /* Ajuste fino para centrar bien */
  width: 3px;
  height: 50vh;
  background-color: var(--secondary-color); 
  border-radius: 5px;
}

.texto-titulo-p-p-2 {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
  margin-left: 27%;
}

.texto-paquete-p-p-2 {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
  margin-left: 40%;
}

.marco-input-p-p-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 77%;
  label {
    margin-left: 15px;
  }
}

.centrar-caja-p-p-2 {
  place-items: center;
  margin-left: 35%;
}

.paquete-basico-p-p-2 {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 2px solid var(--secondary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 240px;             /* Ancho fijo para uniformidad */
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;  
}

.paquete-premium-p-p-2 {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 3px solid var(--primary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 255px;             /* Ancho fijo para uniformidad */
  height: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paquete-medio-p-p-2 {
  background-color: transparent; 
  border-radius: 25px;      /* Bordes redondeados */
  border: 2px solid var(--secondary-color);  
  /*box-shadow: 0 2px 5px rgba(147, 35, 239, 0.1);*/
  padding: 20px;
  width: 240px;             /* Ancho fijo para uniformidad */
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;  
}

.imagen-visa-p-p-2 {
  height: 26px;
  width: auto;
  margin-right: 11px;
  justify-content: center;
}

.btn-save-p-p-2 {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 200px;     
  height: 50px;
  margin-top: -20px;
  position: relative;
  }

.img-container-p-p-2 {
  display: flex;
  gap: 2%;
  margin-left: 90px;
}

.logo-dynamic-p-p-2 {
  margin-top: -19px;
  max-width: 217px;
  height: auto;
  display: block;
  position: relative;
}

.grid-p-p-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-container-p-p-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.input-p-p-2 {
  width: 90%;  
  margin: 10px;
  font-size: 17px;
}

.marco-CodTel-p-p-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.main-p-p-2 {
  margin-right: 100px;
}

.imagen-titulo-p-p-2 {
  position: relative;
  justify-content: center;
  display: flex;
  margin-left: -17%;
  margin-top: 7%;
}
/*------------------------------------------------------*/

/*Componentes de Login*/
.main-l {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  height: 100vh;
}

.back-button-l {
  position: absolute;
  top: 9px;
  left: 11px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; /* Para asegurarse de que esté por encima del resto */
}

.back-button-l img {
  width: 60px; /* Ajusta el tamaño según lo necesites */
  height: auto;
}

.container-login-l {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Por ejemplo, negro */
}

/* Sección del logo: se desplaza ligeramente hacia arriba */
.container-logo-l {
  transform: translateY(-10%); /* Ajusta este valor según necesites */
}

/* El logo se mantiene centrado en su sección */
.logo-dynamic-l {
  max-width: 240px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 35%;
}

/* Sección del formulario: separada del logo */
.container-formulario-l {
  margin-left: 100px;
}

/* Título de la sección de login */
.titulo-l {
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 28px;
}

/* Estilos para el formulario de login */
.formulario-l {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-l {
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  width: 300px;     
  height: 20px;
  border: 1px solid #282828;
  background-color: var(--inputs);
  color: var(--text-color);
}

.contraseña-l {
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  width: 300px;     
  height: 20px;
  border: 1px solid #282828;
  background-color: var(--inputs);
  color: var(--text-color);
  margin-bottom: 20px; 
}

.boton-entrar-l {
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--text-color);
}
/*------------------------------------------------------*/

/*Componentes de main_Panel*/

.main-m-p {
  display: flex;
  margin-top: 2%;
}
.btn-selected-m-p {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 150px;     
  height: 40px;
  margin-top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: 5%;
}

.btn-m-p {
  padding: 10px 20px;
  cursor: pointer; 
  background-color: var(--background-color);
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 150px;     
  height: 40px;
  margin-top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: 5%;
}

.btn-m-p:hover{
  background-color: var(--inputs);
}

.btn-container-m-p {
  max-width: 10%;
  margin-left: 3%;
}

#log-off:hover {
  background-color: rgb(202, 0, 0); 
}
.img-logo-m-p {
  height: 50px;
  width: auto;
  margin-right: 1%;
  margin-left: 3%;
}

.perfil-container-m-p {
  right: 3%;
  position: absolute;
}
.img-perfil-m-p{
  height: 50px;
  width: auto;
  position: relative;
  cursor: pointer;
}

.input-m-p {
  position: absolute;
  width: 40%;  
  margin: 10px;
  font-size: 17px;
  margin-left: 30%;
  margin-right: 30%;
}

.contenedor-input-m-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.img-lupa-m-p {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 68%;
  margin-top: 15px;
}

.tabla-m-p {
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: var(--inputs);
  border-radius: 10px;
  overflow: hidden;
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  th {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px;
    border-bottom: 1px solid var(--secondary-color);
  }
  td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  tr:last-child td {
    border-bottom: none;
  }
  thead tr th:first-child,
  tbody tr td:first-child {
    padding-left: 30px;
  }
  thead tr th:last-child,
  tbody tr td:last-child {
    padding-left: 30px;
  }
}

.circulo-verde-m-p {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 175, 0);
}
.circulo-rojo-m-p {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: red;
}

.estado-pago-m-p {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
}

.menu-desplegable-m-p {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--inputs);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 8px 4px;
  z-index: 1000;
}

.menu-item-m-p {
  width: 90px;
  font-size: 14px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 6px;
}

.menu-item-m-p:hover{
  background-color: rgba(255, 255, 255, 0.05);
}