/*Estilos específicos de un componente*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  height: 100vh;
}

.logo-dynamic {
  max-width: 16%;
  height: auto;
  display: block;
  margin: 0 auto; /* Sigue centrada */
}

.button-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;     /* Opcional: centra verticalmente si el contenedor tiene altura */
  gap: 10px;               /* Espacio mínimo entre los botones */
}

/* Puedes ajustar o mantener los estilos individuales de los botones */
.boton-izquierdo, .boton-derecho {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


