/*Estilos específicos de un componente*/
@import './styles/colors.css';

/*Componentes de Registration Section*/
.main-r-s {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  height: 100vh;
}

.container-logo-r-s {
  position: relative; /* Establece el contexto de posicionamiento para el logo */
  width: 100%;
  height: 100px; /* Ajusta la altura según lo que necesites */
}

.logo-dynamic-r-s {
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  max-width: 12%;
  height: auto;
}

.question-r-s {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  margin: 150px auto 0 auto; 
}

.container-boton-r-s {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;     /* Opcional: centra verticalmente si el contenedor tiene altura */
  gap: 25px;               /* Espacio mínimo entre los botones */
  margin: 20px auto 0 auto; 
}

.boton-izquierdo-r-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 250px;     
  height: 50px;
}

.boton-derecho-r-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);           
  border: 2px solid var(--secondary-color);  
  border-radius: 30px;  
  width: 250px;  
  height: 50px;    
}
/*------------------------------------------------------*/


/*Componentes de Registration Section*/
.main-signup-s {
}

.img-container-s {
  display: flex;
  gap: 2%;
}

.arrow-back-s {
  display: block;
  position: relative;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.logo-dynamic-s {
  margin-top: 5px;
  max-width: 15%;
  height: auto;
  display: block;
  position: relative;
}

.texto-titulo-s {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
}

.grid-s {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.marco-input-s {
  left: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

.input-s {
  width: 90%;  
  margin: 10px;
  font-size: 17px;
}

.form-s{
  left: 5%;
  position: relative;
  width: 95%;
  label {
    margin-left: 15px;
  }
}

.marco-CodTel-s{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  
}

.btn-save-s {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-color); 
  color: var(--text-color);        
  border: none;
  border-radius: 30px;    
  width: 200px;     
  height: 50px;
  margin-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: 5%;
}

.btn-container-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separador-s {
  position: absolute;
  left: 50%; /* Lo centra horizontalmente */
  top: 12%; /* Baja un poco desde el inicio */
  transform: translateX(-50%); /* Ajuste fino para centrar bien */
  width: 3px;
  height: 75vh;
  background-color: rgb(105, 105, 105);
  border-radius: 5px;
}

/*------------------------------------------------------*/

/*Componentes de Package Payment*/
.main-p-p{
}



/*------------------------------------------------------*/


/*Componentes de Login*/
.main-l {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  height: 100vh;
}

.container-login-l {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Por ejemplo, negro */
}

/* Sección del logo: se desplaza ligeramente hacia arriba */
.container-logo-l {
  transform: translateY(-10%); /* Ajusta este valor según necesites */
}

/* El logo se mantiene centrado en su sección */
.logo-dynamic-l {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Sección del formulario: separada del logo */
.container-formulario-l {
  margin-left: 100px;
}

/* Título de la sección de login */
.titulo-l {
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 28px;
}

/* Estilos para el formulario de login */
.formulario-l {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label-email-l {
  
}

.email-l {
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  width: 300px;     
  height: 20px;
  border: 1px solid #282828;
  background-color: var(--inputs);
  color: var(--text-color);
}

.label-contraseña-l {
  font-size: 17px;
}

.contraseña-l {
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  width: 300px;     
  height: 20px;
  border: 1px solid #282828;
  background-color: var(--inputs);
  color: var(--text-color);
  margin-bottom: 20px; 
}

.boton-entrar-l {
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--text-color);
}


/*------------------------------------------------------*/